extends ./sidebar.pug

block productPage
    .row.mb-3
        .col-md-12
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='#') Admin
                    li.breadcrumb-item.active(aria-current='page') Product
    .row.mb-2
        .col-md-12
            h5.d-inline Product
            a.mb-1.btn.btn-outline-dark(href="/admin/product/create" style="margin-left : 1rem;") New Product
            form.d-inline(action="/admin/product" method="GET")
                .input-group(id='searchArea' )
                    input.form-control(name="key" type="text" placeholder='Enter the product...' aria-describedby='searchBtn' id='inputSearch' onMouseOver="this.style.border : '3px'" onMouseOut="this.style.border : '1px'" value=(key) ? key : '')
                    .input-group-append
                        button.btn.btn-outline-dark(type='submit' id='searchBtn') Search
            if key
                br
                h5.mt-2(style="float : right; display : unset")= `Search result for the word : "${key}"` 
    .row.mt-2
        .col-md-12
            table.table.table-hover.align-middle(id='product_tbl')
                thead
                    tr(style="display : table; width : 98.6% ; table-layout : fixed")
                        th(scope='col' style="width : 5%") #
                        th(scope='col' style="width : 5%") ID
                        th(scope='col' style="width : 15% ; text-align : center") Image
                        th(scope='col' style="width : 40%") Name
                        th(scope='col' style='width : 5% ;text-align : center') Quantity
                        th(scope='col' style='text-align : center') Status
                        th(scope='col')
                tbody(style='width : 100% ; max-height: 450px ; display:block ; overflow-y: auto ;')
                    if products
                        each product in products
                            tr(style="display : table; width : 100% ; table-layout : fixed")
                                th(scope='row' style="width : 5%")
                                    input.form-check-input(type="checkbox")
                                th(id='id' scope='row' style="width : 5%")= product.id
                                td(id="image1" style="width : 15%; text-align : center")
                                    img(src=product.image1 )
                                td(id="name" style="width : 40%")= product.name
                                td(id="quantity" style='width : 5% ; text-align : center')= product.quantity
                                td(id="status" style='text-align : center')= (product.active) ? 'Enabled' : 'Disabled'
                                td.justify-content-center(style="padding-top : 3px")
                                    button.btn.btn-outline-dark.mt-1(type="button" data-bs-toggle="modal" data-bs-target=`#${'detail' + product.id}`) Detail
                                    .modal.fade(id=`${'detail' + product.id}` tabindex="-1" role="dialog"  aria-labelledby="labelUpdate" aria-hidden="true")
                                        .modal-dialog.modal-lg(style="max-width: 1350px!important;")
                                            .modal-content
                                                .modal-body
                                                    .container-fluid
                                                        .row
                                                            .col-md-6
                                                                .product-gallery
                                                                    .carousel.slide(id=`carouselProduct-${product.id}` data-bs-ride="carousel")
                                                                        .carousel-inner
                                                                            .carousel-item.active
                                                                                img(src=product.image1)
                                                                            .carousel-item
                                                                                img(src=product.image2)
                                                                            .carousel-item
                                                                                img(src=product.image3)
                                                                            .carousel-item
                                                                                img(src=product.image4)
                                                                            .carousel-item
                                                                                img(src=product.image5)
                                                                        button.carousel-control-prev(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='prev' )
                                                                            span.carousel-control-prev-icon(aria-hidden='true' style="background-color : black ; border-radius : 1.5rem; width : 60px; height : 30%;")
                                                                        button.carousel-control-next(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='next' )
                                                                            span.carousel-control-next-icon(aria-hidden='true' style="background-color : black ; border-radius : 1.5rem; width : 60px; height : 30%;")
                                                                br
                                                                .selection-product
                                                                    .carousel.slide(data-bs-ride="carouselProduct")
                                                                        .carousel-inner
                                                                            .carousel-item.active
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="0")
                                                                                    img(src=product.image1)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="1")
                                                                                    img(src=product.image2)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="2")
                                                                                    img(src=product.image3)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="3")   
                                                                                    img(src=product.image4)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="4")
                                                                                    img(src=product.image5)
                                                                            .carousel-item
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="0")
                                                                                    img(src=product.image1)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="1")
                                                                                    img(src=product.image2)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="2")
                                                                                    img(src=product.image3)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="3")   
                                                                                    img(src=product.image4)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="4")
                                                                                    img(src=product.image5)
                                                                        //- button.carousel-control-prev(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='prev' )
                                                                        //-     span.carousel-control-prev-icon(aria-hidden='true' style="background-color : black")
                                                                        //- button.carousel-control-next(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='next' )
                                                                        //-     span.carousel-control-next-icon(aria-hidden='true' style="background-color : black")                                                                                                                                                                                                           
                                                            .col-md-6
                                                                h5= product.name
                                                                p= 'Price : ' + product.price + '$'
                                                                p= 'Quantity : ' + product.quantity
                                                                p
                                                                .form-check.form-switch
                                                                    form#formActive(action="/product/active" method="POST")
                                                                        if product.active
                                                                            input.form-check-input(type="checkbox" id=`activeProduct-${product.id}` name="active-check" checked onchange="this.parentElement.submit()")
                                                                        else
                                                                            input.form-check-input(type="checkbox" id=`activeProduct-${product.id}` name="active-check" onchange="this.parentElement.submit()")
                                                                        input(type="hidden" name="status" value=(product.active) ? 'disable' : 'enable')
                                                                        input(type="hidden" name="id_product" value=product.id)
                                                                        label.form-check-label(for=`#activeProduct-${product.id}`) Status 
                                                                br
                                                                .accordion(id="productDescription")
                                                                    .accordion-item
                                                                        h2.accordion-header  
                                                                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target=`#collapseOne-${product.id}` aria-expanded="true" aria-controls=`collapseOne-${product.id}`) Description
                                                                        .accordion-collapse.collapse(aria-labelledby="headingOne" data-bs-parent="#productDescription" id=`collapseOne-${product.id}`)
                                                                            .accordion-body
                                                                                p= product.description
