extends ./sidebar.pug

block productPage
    .row.mb-3
        .col-md-12
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='#') Admin
                    li.breadcrumb-item.active(aria-current='page') Product
    .row.mb-2
        .col-md-12
            h5.d-inline Product
            a.mb-1.btn.btn-outline-dark(href="/admin/product/create" style="margin-left : 1rem;") New Product
            form.d-inline(action="/admin/product" method="GET")
                .input-group(id='searchArea' )
                    input.form-control(name="key" type="text" placeholder='Enter the product...' aria-describedby='searchBtn' id='inputSearch' onMouseOver="this.style.border : '3px'" onMouseOut="this.style.border : '1px'" value=(key) ? key : '')
                    .input-group-append
                        button.btn.btn-outline-dark(type='submit' id='searchBtn') Search
            if key
                br
                h5.mt-2(style="float : right; display : unset")= `Search result for the word : "${key}"` 
    .row.mt-2
        .col-md-12
            table.table.table-hover.align-middle(id='product_tbl')
                thead
                    tr(style="display : table; width : 98.6% ; table-layout : fixed")
                        th(scope='col' style="width : 5%") #
                        th(scope='col' style="width : 5%") ID
                        th(scope='col' style="width : 15% ; text-align : center") Image
                        th(scope='col' style="width : 40%") Name
                        th(scope='col' style='width : 5% ;text-align : center') Quantity
                        th(scope='col' style='text-align : center') Status
                        th(scope='col')
                tbody(style='width : 100% ; max-height: 450px ; display:block ; overflow-y: auto ;')
                    if products
                        each product in products
                            tr(style="display : table; width : 100% ; table-layout : fixed")
                                th(scope='row' style="width : 5%")
                                    input.form-check-input(type="checkbox")
                                th(id='id' scope='row' style="width : 5%")= product.id
                                td(id="image1" style="width : 15%; text-align : center")
                                    img(src=product.image1 )
                                td(id="name" style="width : 40%")= product.name
                                td(id="quantity" style='width : 5% ; text-align : center')= product.quantity
                                td(id="status" style='text-align : center')= (product.active) ? 'Enabled' : 'Disabled'
                                td.justify-content-center(style="padding-top : 3px")
                                    button.btn.btn-outline-dark.mt-1(type="button" data-bs-toggle="modal" data-bs-target=`#${'detail' + product.id}`) Detail
                                    .modal.fade(id=`${'detail' + product.id}` tabindex="-1" role="dialog"  aria-labelledby="labelUpdate" aria-hidden="true")
                                        .modal-dialog.modal-lg(style="max-width: 1350px!important;")
                                            .modal-content
                                                .modal-body
                                                    .container-fluid
                                                        .row
                                                            .col-md-6
                                                                .product-gallery
                                                                    .carousel.slide(id=`carouselProduct-${product.id}` data-bs-ride="carousel")
                                                                        .carousel-inner
                                                                            .carousel-item.active
                                                                                img(src=product.image1)
                                                                            .carousel-item
                                                                                img(src=product.image2)
                                                                            .carousel-item
                                                                                img(src=product.image3)
                                                                            .carousel-item
                                                                                img(src=product.image4)
                                                                            .carousel-item
                                                                                img(src=product.image5)
                                                                        button.carousel-control-prev(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='prev' )
                                                                            span.carousel-control-prev-icon(aria-hidden='true' style="background-color : black ; border-radius : 1.5rem; width : 60px; height : 30%;")
                                                                        button.carousel-control-next(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='next' )
                                                                            span.carousel-control-next-icon(aria-hidden='true' style="background-color : black ; border-radius : 1.5rem; width : 60px; height : 30%;")
                                                                br
                                                                .selection-product
                                                                    .carousel.slide(data-bs-ride="carouselProduct")
                                                                        .carousel-inner
                                                                            .carousel-item.active
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="0")
                                                                                    img(src=product.image1)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="1")
                                                                                    img(src=product.image2)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="2")
                                                                                    img(src=product.image3)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="3")   
                                                                                    img(src=product.image4)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="4")
                                                                                    img(src=product.image5)
                                                                            .carousel-item
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="0")
                                                                                    img(src=product.image1)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="1")
                                                                                    img(src=product.image2)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="2")
                                                                                    img(src=product.image3)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="3")   
                                                                                    img(src=product.image4)
                                                                                div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="4")
                                                                                    img(src=product.image5)
                                                                        //- button.carousel-control-prev(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='prev' )
                                                                        //-     span.carousel-control-prev-icon(aria-hidden='true' style="background-color : black")
                                                                        //- button.carousel-control-next(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='next' )
                                                                        //-     span.carousel-control-next-icon(aria-hidden='true' style="background-color : black")                                                                                                                                                                                                           
                                                            .col-md-6
                                                                .d-flex
                                                                    h4.mb-2
                                                                        b Information Product
                                                                    .form-check.form-switch.mb-2(style="margin-left : .5rem; margin-top : 3px; border: 2px solid black; border-radius : 0.5rem ; height : 35px;")
                                                                        form#formActive(action="/product/active" method="POST" style="padding : 0 5px 0 5px")
                                                                            label(style="margin-top : 4px") Active
                                                                            if product.active
                                                                                input.form-check-input(type="checkbox" id=`activeProduct-${product.id}` name="active-check" checked onchange="this.parentElement.submit()")
                                                                            else
                                                                                input.form-check-input(type="checkbox" id=`activeProduct-${product.id}` name="active-check" onchange="this.parentElement.submit()")
                                                                            input(type="hidden" name="status" value=(product.active) ? 'disable' : 'enable')
                                                                            input(type="hidden" name="id_product" value=product.id)
                                                                form#updateProduct(action=`/admin/product/update/${product.id}` method="POST")
                                                                    .mb-2.input-group.input-group-sm
                                                                        span.input-group-text Name
                                                                        input.form-control.form-control-sm(type="text" name="name" value=product.name)
                                                                    .d-flex
                                                                        .mb-2.input-group.input-group-sm(style="margin-right : 10px")
                                                                            span.input-group-text Price
                                                                            input.form-control.form-control-sm(type="text" name="price" value=product.price)
                                                                            span.input-group-text $
                                                                        .mb-2.input-group.input-group-sm
                                                                            span.input-group-text Quantity
                                                                            input.form-control.form-control-sm(type="text" name="quantity" value=product.quantity width="50%")                                                                    
                                                                    .d-flex.mb-2
                                                                        .input-group.input-group-sm(style="margin-right : 10px")
                                                                            span.input-group-text Brand
                                                                            select.form-select.form-select-sm#brand(name="id_brand")
                                                                                each brand in brands
                                                                                    -if(product.brand.id_brand === brand.id) {
                                                                                        option(value=brand.id selected)= brand.name
                                                                                    -} else {
                                                                                        option(value=brand.id)= brand.name
                                                                                    -}
                                                                        .input-group.input-group-sm
                                                                            span.input-group-text Category
                                                                            select.form-select.form-select-sm#category(name="id_category")
                                                                                each category in categories
                                                                                    -if(product.category.id_category === category.id) {
                                                                                        option(value=category.id selected)= category.name
                                                                                    -} else {
                                                                                        option(value=category.id)= category.name
                                                                                    -}
                                                                    .mb-4
                                                                        label(for="desProduct" style="font-size : .875rem ;background-color : #e9ecef ; border-radius : 0.5rem 0.5rem 0 0; padding : .5rem") Description
                                                                        textarea#desProduct.form-control.form-control-sm(name="description", rows="6" style="border-radius : 0 .2rem .2rem .2rem !important")=product.description 
                                                                    button.btn.btn-dark(
                                                                        type="submit"
                                                                        form="updateProduct"
                                                                        style="width : 100%"
                                                                        onmouseover='this.style.backgroundColor="white"; this.style.color="black"'
                                                                        onmouseout='this.style.backgroundColor="black"; this.style.color="white"'
                                                                        )
                                                                        | Submit
