extends ../layout/common.pug

block productPage
    -if(existMessage) {
        .alerts#alertWarning
            .alert.alert-warning.animated.bounceInRight
                .icon.pull-left#icon
                    i.fa.fa-exclamation-circle.fa-2x
                .copy
                    h4 Warning
                    p= existMessage
                //- a.close
                //-     i.fa.fa-times
    -}
    .container(style="margin-top : 100px;")
        .row
            //- .col-xl-2#filter-sidebar
            //-     h3(style="text-align : center") Filter
            //-     -if(brand && brand.length !== 0) {
            //-         each brandItem in brand
            //-             div#brandItem.mb-2
            //-                 - let path = '/product/filter'
            //-                 a(href=`${path}?id_brand=${brandItem.id}` data-bs-toggle="collapse" data-bs-target=`#brand-${brandItem.id}`)
            //-                     h4
            //-                         i.fa.fa-fw.fa-caret-down.parent-expanded
            //-                         =brandItem.name
            //-                 .collapse.show(id=`brand-${brandItem.id}`)
            //-                     .list-group
            //-                         each categoryItem in category
            //-                             a.list-group-item.list-group-item-action(href=path + '?id_brand=' + brandItem.id + '&id_category=' + categoryItem.id)= categoryItem.name  
            //-     -}
            //- //- div.row(style="padding : 1rem ; padding-top : unset")
            //- //-     .col-md-2(style="z-index : +1")
            //- //-         #list-example.list-group(style = "position : fixed; width : 250px ")
            //- //-             a.list-group-item.list-group-item-action.mb-1(href="/product/all" ) All product
            //- //-             -if (brand) {
            //- //-             -    let path = '/product/filter'
            //- //-             -    brand.forEach(each => {
            //- //-                 .btn-group.dropend.mb-1
            //- //-                     a.list-group-item.list-group-item-action(href=path + '?id_brand=' + each.id)= each.name
            //- //-                     a.btn.btn-secondary.dropdown-toggle(id="brand_categories" data-bs-toggle="dropdown" aria-expanded="false" href=path + '?id=' + each.id)
            //- //-                     -if(category.length > 0) {
            //- //-                         ul.dropdown-menu(aria-labelledby="brand_categories" style="transition : 0.2s")
            //- //-                             -category.forEach(one => {
            //- //-                                 li
            //- //-                                     a.dropdown-item(href=path + '?id_brand=' + each.id + '&id_category=' + one.id)= one.name
            //- //-                             -})
            //- //-                     -}
            //- //-             -   })
            //- //-             -}
            .col-md-12
                .container-fluid
                    .row
                        .d-flex#filterBar
                            a#filterLink(href=`#` data-bs-toggle="collapse" data-bs-target=`#filterArea`)
                                p(style="font-size : 22px; text-transform : uppercase; letter-spacing : 3px") Filter
                                    i.fas.fa-sliders-h(style="font-size : 18px; margin-left : 10px")
                            form#searchForm(action="/product/all" method="GET")
                                .input-group(style="padding : 1rem ; padding-bottom : unset; padding-left : unset")
                                    button.btn(
                                        type="button"
                                        id='btn-searchProduct'
                                        )
                                        i.fas.fa-search
                                    input(type='text' id='inputSearch' name="key"  placeholder ="What are you looking for ?"  value=key ? key : '' autocomplete="off")
                            #sortArea(style="flex-grow : 5; color : white")
                                select.form-select.form-select-sm.d-inline#sortSelect(
                                    name="sortValue"
                                    style=""
                                    onchange="sortValue(this)")
                                    option(selected) Choose...
                                    option(value=2) Newest 
                                    option(value=0) Prices go up
                                    option(value=1) Prices go down
                                h5.d-inline(style="float : right; margin-bottom : unset; line-height : unset; text-transform : uppercase; letter-spacing : 3px") Sort :
                        .container-fluid.collapse(id=`filterArea`)
                            form(action="/product/filter" method="GET")#formSearch
                                .row
                                    .col-md-5(style="color : black; border : 2px solid black; border-radius : .5rem 0 0 .5rem; background-color : white")
                                        #categoryFilter(style="padding : 1rem")
                                            h4(style="text-transform : uppercase; letter-spacing : 3px") Category
                                            each categoryItem in category
                                                .input-group.input-group-sm
                                                    if (filterResult && filterResult.category && categoryItem.id === filterResult.category.id) 
                                                        input.form-check-input(type="checkbox" name="id_category" value=categoryItem.id checked)
                                                    else 
                                                        input.form-check-input(type="checkbox" name="id_category" value=categoryItem.id)
                                                    label(for="" style="margin-left : .5rem")= categoryItem.name 
                                    .col-md-6(style="color : black; border : 2px solid black; background-color : white; border-left : 0")
                                        #brandFilter(style="padding : 1rem")
                                            h4(style="text-transform : uppercase; letter-spacing : 3px") Brand
                                            ul(style="max-height : 200px; display: -webkit-flex; display: flex; -webkit-flex-flow: column wrap; flex-flow: column wrap; list-style : none; padding-left : unset")
                                                each brandItem in brand
                                                    li
                                                        .input-group.input-group-sm
                                                            if (filterResult && filterResult.brand && brandItem.id === filterResult.brand.id) 
                                                                input.form-check-input(type="checkbox" name="id_brand" value=brandItem.id checked)
                                                            else 
                                                                input.form-check-input(type="checkbox" name="id_brand" value=brandItem.id)
                                                            label(for="" style="margin-left : .5rem")= brandItem.name                 
                                    .col-md-1(style="padding : unset; border-radius : 0 .5rem .5rem 0; border : 0; background-color : white")
                                        button.btn(
                                            type="submit"
                                            form="formSearch"
                                            style="width : 100%; height : 100%; border : 2px solid black; border-radius : 0 .5rem .5rem 0; background-color : inherit; padding : unset; border-left : 0"
                                            onmouseover='this.style.backgroundColor="black"; this.style.color="white"'
                                            onmouseout='this.style.backgroundColor="white"; this.style.color="black"')
                                            i.fas.fa-arrow-right
                                    
                    hr
                    if filterResult
                        -var stringArr = []
                        -for(let [key, value] of  Object.entries(filterResult)) {
                        -   key = key.replace(key[0], key[0].toUpperCase())
                        -   stringArr.push(key + ' : ' + ((value === undefined) ? '-' : value.name))
                        -}
                        - var stringRes = stringArr.join(' | ')
                        .row.mb-2#rowResult(style="color : white")
                            .col-md-12
                                h5(style="")= `Filter result : (${stringRes})`
                    if key
                        .row.mb-2#rowResult(style="color : white")
                            .col-md-12
                                 h5= `Search result for the word : "${key}"` 
                    - if(products.length == 0) {
                        h5(style="padding-left : 1rem")= "There is no any product matched"
                    -} else {
                        .row#productList
                            -   products.forEach(product => {
                                    include product.pug
                            -   })
                    -}
