extends ../layout/common.pug

block productPage
    include ../layout/filter_subnav.pug
    -if(message) {
        .toast.show(role="alert" aria-live="assertive" aria-atomic="true" id="accountReq")
            .d-flex
                .toast-body= message
                button.btn-close.me-2.m-auto(type="button" data-bs-dismiss="toast" aria-label="Close" id="btnClose")
    -}
    .container(style="margin-top : 40px")
        .row
            //- .col-xl-2#filter-sidebar
            //-     h3(style="text-align : center") Filter
            //-     -if(brand && brand.length !== 0) {
            //-         each brandItem in brand
            //-             div#brandItem.mb-2
            //-                 - let path = '/product/filter'
            //-                 a(href=`${path}?id_brand=${brandItem.id}` data-bs-toggle="collapse" data-bs-target=`#brand-${brandItem.id}`)
            //-                     h4
            //-                         i.fa.fa-fw.fa-caret-down.parent-expanded
            //-                         =brandItem.name
            //-                 .collapse.show(id=`brand-${brandItem.id}`)
            //-                     .list-group
            //-                         each categoryItem in category
            //-                             a.list-group-item.list-group-item-action(href=path + '?id_brand=' + brandItem.id + '&id_category=' + categoryItem.id)= categoryItem.name  
            //-     -}
            //- //- div.row(style="padding : 1rem ; padding-top : unset")
            //- //-     .col-md-2(style="z-index : +1")
            //- //-         #list-example.list-group(style = "position : fixed; width : 250px ")
            //- //-             a.list-group-item.list-group-item-action.mb-1(href="/product/all" ) All product
            //- //-             -if (brand) {
            //- //-             -    let path = '/product/filter'
            //- //-             -    brand.forEach(each => {
            //- //-                 .btn-group.dropend.mb-1
            //- //-                     a.list-group-item.list-group-item-action(href=path + '?id_brand=' + each.id)= each.name
            //- //-                     a.btn.btn-secondary.dropdown-toggle(id="brand_categories" data-bs-toggle="dropdown" aria-expanded="false" href=path + '?id=' + each.id)
            //- //-                     -if(category.length > 0) {
            //- //-                         ul.dropdown-menu(aria-labelledby="brand_categories" style="transition : 0.2s")
            //- //-                             -category.forEach(one => {
            //- //-                                 li
            //- //-                                     a.dropdown-item(href=path + '?id_brand=' + each.id + '&id_category=' + one.id)= one.name
            //- //-                             -})
            //- //-                     -}
            //- //-             -   })
            //- //-             -}
            .col-md-12
                .container-fluid
                    - if(products.length == 0) {
                        h5(style="padding-left : 1rem")= "There is no any product matched"
                    -} else {
                        .row
                            form(action="/product/all" method="GET")
                                .input-group.mb-3(style="width : 100%; padding : 1rem ; padding-bottom : unset")
                                    input(type='text' id='inputSearch' name="key"  placeholder ="Enter..." class="form-control" value=key ? key : '')
                                    .input-group-append
                                        button.btn.btn-outline-secondary(id='btn-searchProduct') Search
                            -   products.forEach(product => {
                                    include product.pug
                            -   })
                        -}
