.col-xl-3.col-md-6.col-sm-12.mb-3.productItem
    .card.shadow-sm.product-item(name="product-item" id=`product-${product.id}`)
        img.card-img-top(src=product.image1 onclick=`window.location="/product/${product.id}"`)
        .card-body
            p.card-title(style="text-align : center")= product.name
            - let price = '$' + product.price.toString()
            p.card-text.mb-1(style="text-align : center")= price
            p(style="display : none !important")= product.createdAt
            div#addItem
                form(action=`/cart/add-to-cart/${product.id}/${1}` method="POST")
                    input(type="hidden" name="id" value=product.id)
                    input(type="hidden" name="name" value=product.name)
                    input(type="hidden" name="price" value=product.price)
                    input(type="hidden" name="image" value=product.image1)
                    button.btn.btn-dark(id="add-to-cart" onclick="addToCart(this)" type="button") Add to cart
        button.btn.btn-dark.detailBtn(type="button" data-bs-toggle="modal" data-bs-target=`#${'detail' + product.id}`) Detail
.modal.fade(id=`${'detail' + product.id}` tabindex="-1" role="dialog"  aria-labelledby="labelUpdate" aria-hidden="true")
    .modal-dialog.modal-lg(style="max-width: 1350px!important;")
        .modal-content
            .modal-body
                .container-fluid
                    .row(style="padding-top : 10px")
                        .col-md-6
                            .product-gallery
                                .carousel.slide(id=`carouselProduct-${product.id}` data-bs-ride="carousel")
                                    .carousel-inner
                                        .carousel-item.active
                                            img(src=product.image1)
                                        .carousel-item
                                            img(src=product.image2)
                                        .carousel-item
                                            img(src=product.image3)
                                        .carousel-item
                                            img(src=product.image4)
                                        .carousel-item
                                            img(src=product.image5)
                                    button.carousel-control-prev(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='prev' )
                                        span.carousel-control-prev-icon(aria-hidden='true' style="background-color : black ; border-radius : 1.5rem; width : 60px; height : 30%;")
                                    button.carousel-control-next(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='next' )
                                        span.carousel-control-next-icon(aria-hidden='true' style="background-color : black ; border-radius : 1.5rem; width : 60px; height : 30%;")
                            br
                            .selection-product
                                .carousel.slide(data-bs-ride="carouselProduct")
                                    .carousel-inner
                                        .carousel-item.active
                                            div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="0")
                                                img(src=product.image1)
                                            div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="1")
                                                img(src=product.image2)
                                            div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="2")
                                                img(src=product.image3)
                                            div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="3")   
                                                img(src=product.image4)
                                            div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="4")
                                                img(src=product.image5)
                                        .carousel-item
                                            div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="0")
                                                img(src=product.image1)
                                            div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="1")
                                                img(src=product.image2)
                                            div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="2")
                                                img(src=product.image3)
                                            div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="3")   
                                                img(src=product.image4)
                                            div(data-bs-target=`#carouselProduct-${product.id}` data-bs-slide-to="4")
                                                img(src=product.image5)
                                    //- button.carousel-control-prev(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='prev' )
                                    //-     span.carousel-control-prev-icon(aria-hidden='true' style="background-color : black")
                                    //- button.carousel-control-next(role='button' data-bs-target=`#carouselProduct-${product.id}` data-bs-slide='next' )
                                    //-     span.carousel-control-next-icon(aria-hidden='true' style="background-color : black")                                                                                                                                                                                                           
                        .col-md-6
                            h3.mb-3= product.name
                            h4(style="letter-spacing : 1.5px; font-style : italic; font-weight : 520;  color : blue")= '$' + product.price
                                i.fas.fa-tag.fa-xs(style="transform : translate(10px, -8px); ")
                            hr(style="margin-top : 10px !important;margin-bottom : 30px !important; height : 3px; width : 30%; color : black; border : 0 !important")
                            .d-flex.mb-4(style="justify-content : space-between;")
                                button.btn.btn-dark(id="add-to-cart" onclick="addToCart(this)" type="button" style="width : 40% !important") Add to cart
                                button.btn(
                                    onmouseover="this.style.backgroundColor = 'black'; this.style.color = 'white'"
                                    onmouseout="this.style.backgroundColor = 'white'; this.style.color = 'black'"
                                    type="button"
                                    style="width : 40% !important; background-color : white; color : black; border : 2px solid black") Buy now
                            .accordion(id="productDescription")
                                .accordion-item
                                    h2.accordion-header  
                                        button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target=`#collapseOne-${product.id}` aria-expanded="true" aria-controls=`collapseOne-${product.id}`) Description
                                    .accordion-collapse.collapsed(aria-labelledby="headingOne" data-bs-parent="#productDescription" id=`collapseOne-${product.id}`)
                                        .accordion-body
                                            p= product.description