extends ../../layout/common.pug

block myAccount
    div.mb-2.container(style="padding-top : 100px; font-size : 18px; letter-spacing : .5px")
        nav.navbar.navbar-light(id="myaccount" style="border : 2 ; border-radius : 1rem;")
            a.nav-link#personalTab(href="/account/my/information") 
                i.fas.fa-user(style="margin-right : 10px")
                | Personal Information
            .line-devider
            a.nav-link.active#changeTab(href="/account/my/user")
                i.fas.fa-key(style="margin-right : 10px")
                | Change password
            .line-devider
            a.nav-link#orderTab(href=(currentUser) ? `/account/my/order/${currentUser.id}?status=6` : '/account/my/order')
                i.fas.fa-receipt(style="margin-right : 10px")
                | Invoice
        .row.mt-3.justify-content-center
            .col-md-6
                form.pt-2#change-ps-form(action="/account/change-password" method='POST' style="border : 2px solid grey; border-radius : 1rem ; ")
                    .container(style="padding : 1rem")
                        h4.mb-3(style="text-align : center; letter-spacing : 3px; text-transform : uppercase") Change password
                        if existMessage
                            .alert.alert-danger= existMessage
                        //- .row.mb-2
                        //-     .col-md-12
                        //-         label.mb-1 Old Password
                        //-         input(type='password' name="oldPassword" class="form-control" autocomplete="off")                   
                        .row.mb-2
                            .col-md-12
                                label.mb-1 New Password
                                input(type='password' name="password" class="form-control" autocomplete="off")
                        .row.mb-2
                            .col.md-12
                                label.mb-1 Confirm Password
                                input(type='password' name="re_password" class="form-control" autocomplete="off")
                        hr
                        .row.mb-2.justify-content-center
                            .col-md-4
                                #submitArea
                                    button.btn(
                                        type="submit"
                                        style="width : 100%; background-color : transparent; color : black; letter-spacing : 3px"
                                        onmouseover="this.style.backgroundColor='black'; this.style.color='white'"
                                        onmouseout="this.style.backgroundColor='white'; this.style.color='black'"
                                        )
                                        | Submit