extends ../../layout/common.pug

block myAccount
    div.mb-2.container(style="padding-top : 100px; font-size : 18px; letter-spacing : .5px")
        nav.navbar.navbar-light(id="myaccount" style="border : 2 ; border-radius : 1rem;")
            a.nav-link.active#personalTab(href="/account/my/information") 
                i.fas.fa-user(style="margin-right : 10px")
                | Personal Information
            .line-devider
            a.nav-link#changeTab(href="/account/my/user")
                i.fas.fa-key(style="margin-right : 10px")
                | Change password
            .line-devider
            a.nav-link#orderTab(href=(currentUser) ? `/account/my/order/${currentUser.id}?status=6` : '/account/my/order')
                i.fas.fa-receipt(style="margin-right : 10px")
                | Invoice
        .row.mt-3
            form.pt-2#formEdit(action='/account/update' method="POST" style="color : white")
                .container
                    .row
                        .col-md-5
                            h5(style="color : #484848; text-transform : uppercase; letter-spacing : 3px ;font-weight : 600") Account information
                            .row.mb-2(style="background-color : #484848; border-radius : .5rem; border : 4px solid white;")
                                .col-md-12.mb-1(style="padding-top : .5rem")
                                    p.d-inline(style="margin-bottom : unset;") Email :
                                    input.d-inline.form-control.form-control-sm(
                                        type='text'
                                        name="email"
                                        value=(currentUser) ? currentUser.email : ''
                                        disabled 
                                        style="background-color : transparent !important; border : 0; width : 80%; color : white")
                                .col-md-12.mb-1
                                    p.d-inline(style="margin-bottom : unset;") Firstname : 
                                    input.form-control.form-control-sm.d-inline(
                                        type='text'
                                        name="firstname"
                                        disabled
                                        value=(currentUser && currentUser.firstname) ? currentUser.firstname : ''
                                        style="background-color : transparent !important; border : 0; width : 70%; color : white")
                                .col-md-12.mb-1
                                    p.d-inline(style="margin-bottom : unset;") Lastname : 
                                    input.form-control.form-control-sm.d-inline(
                                        type='text'
                                        name="lastname"
                                        disabled
                                        value=(currentUser && currentUser.lastname) ? currentUser.lastname : ''
                                        style="background-color : transparent !important; border : 0; width : 70%; color : white")
                                .col-md-12.mb-1
                                    p.d-inline(style="margin-bottom : unset;") Phone : 
                                    input.form-control.form-control-sm.d-inline(
                                        type='text'
                                        name="mobile_number"
                                        disabled
                                        value=(currentUser && currentUser.mobile_number) ? currentUser.mobile_number : ''
                                        style="background-color : transparent !important; border : 0; width : 70%; color : white")
                                .col-md-12.mb-1(style="padding-bottom : .5rem")
                                    p.d-inline(style="margin-bottom : unset;") Company : 
                                    input.form-control.form-control-sm.d-inline(
                                        type='text'
                                        name="company"
                                        disabled
                                        value=(currentUser && currentUser.company) ? currentUser.company : ''
                                        style="background-color : transparent !important; border : 0; width : 70%; color : white")
                        .col-md-7
                            h5(style="color : #484848; margin-left : 1rem; text-transform : uppercase; letter-spacing : 3px; font-weight : 600") Accomodation
                            .row.mb-2(style="margin-left : 1rem; border : 4px solid white; background-color : #484848; border-radius : .5rem;")
                                .col-md-12.mb-1(style="padding-top : .5rem")
                                    p.d-inline(style="margin-bottom : unset;") Address : 
                                    input.form-control.form-control-sm.d-inline(
                                        type='text'
                                        name="address"
                                        disabled
                                        value=(currentUser && currentUser.address) ? currentUser.address : ''
                                        style="background-color : transparent !important; border : 0; width : 80%; color : white")
                                -if (cityList) {
                                        .col-md-12.mb-1(style="padding-bottom : .5rem")
                                            p.d-inline(style="margin-bottom : unset;") City : 
                                            select.form-select.form-select-sm.d-inline(
                                                id="city"
                                                name="city"
                                                disabled
                                                style="background-color : transparent !important; border : 0; width : 70%; color : white")
                                                -if (currentUser) {
                                                    option(value=currentUser.city)= currentUser.city
                                                -} 
                                                -cityList.forEach(city => {
                                                    -if(city.name !== currentUser.city) {
                                                        option(value=city.name style="color : black")= city.name
                                                    -}
                                                -})
                                -}
                    .row.mb-2.justify-content-end#rowEdit
                        .col-md-3
                            .d-flex
                                button.btn.btn-unedit(type="button" onclick="cancelEdit(this)") 
                                    i.fas.fa-arrow-left
                                button.btn.btn-edit#editSubmit(type="submit") Submit
                            button.btn.btn-edit#enableEdit(type="button" onclick="clickToEdit(this)")
                                | Edit
                                i.fas.fa-edit
                            