extends ../../layout/common.pug

block formRegister
    h1.d-flex.justify-content-center="Sign Up"
    form.shadow-lg.bg-white(action="/user/register" method="POST" style="width:80%; margin : auto ; margin-top : 1rem; border : 5px solid #f1f1f1; border-radius : 1rem")
        if error
            .alert.alert-danger(style="margin : 1rem; margin-bottom : unset")= error
        div(class="container" style="padding : 1.5rem ;")
            .row
                .col-md-5.mb-2
                    .row
                        h4(style="text-align : center") Account
                        .col-md-12
                            label(style="margin-right : 20px;  margin-bottom : 10px;") Email
                            input(type='text' name="email" style="font-size : 20px;  margin-bottom : 10px;" placeholder="example : nguyenvana@gmail.com" class="form-control" value=values ? values.email : '')
                        .col-md-12
                            label(style="margin-right : 20px;  margin-bottom : 10px;") Password
                            input(type='password' name="password" style="font-size : 20px;  margin-bottom : 10px;" class="form-control" value=values ? values.password : '')
                        .col-md-12
                            label(style="margin-right : 20px;  margin-bottom : 10px;") Re-password
                            input(type='password' name="re_password" style="font-size : 20px;  margin-bottom : 10px;" class="form-control" value=values ? values.re-password : '')
                .col-md-7.mb-2(style="border-left : 2px solid gray;")
                    .row
                        h4(style="text-align : center") Information
                        .col-md-6
                            label(style="margin-right : 20px;  margin-bottom : 10px;") First name
                            input(type='text' name="firstname" style="font-size : 20px;  margin-bottom : 10px;" class="form-control" value=values ? values.firstname : '')
                        .col-md-6
                            label(style="margin-right : 20px;  margin-bottom : 10px;") Last name
                            input(type='text' name="lastname" style="font-size : 20px;  margin-bottom : 10px;" class="form-control" value=values ? values.lastname : '')
                    .row
                        .col-md-12
                            label(style="margin-right : 20px;  margin-bottom : 10px;") Address
                            input(type='text' name="address" style="font-size : 20px;  margin-bottom : 10px;" class="form-control"  value=values ? values.address : '')
                    -if (cityList) {
                        .row
                            .col-md-12
                                label.mb-1(for="city") City
                                select.form-select(id="city" name="city")
                                    -if (currentUser) {
                                        option(value=currentUser.city)= currentUser.city
                                    -} 
                                    -cityList.forEach(city => {
                                        option(value=city.name)= city.name

                                    -})
                    -}
                    .row
                        .col-md-12
                            label(style="margin-right : 20px;  margin-bottom : 10px;") Phone number
                            .d-flex
                                h5(style="margin-right : 10px; padding-top : 7px") +84
                                input(type="text" name="phone"  style="font-size : 20px;  margin-bottom : 10px;" class="form-control")
                    .row
                        .col-md-12
                            label(style="margin-right : 20px;  margin-bottom : 5px;") Company
                            input(type='text' name="company" style="font-size : 20px;  margin-bottom : 10px;" class="form-control" value=values ? values.company : '')
                hr
                .container.d-flex.justify-content-center(id='submitArea')
                    button.btn.btn-dark(style='width : 30%; margin : auto;') Submit
                    a.btn.btn-dark(href="/login" style='width : 30%; margin : auto;') Cancel