nav#navbar-space(class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="padding : 0.5rem")
    .container-fluid
        a.navbar-brand(href="#") Space
        button.navbar-toggler(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-space" aria-controls="offcanvas-space" )
            span.navbar-toggler-icon
        div.offcanvas.offcanvas-end(id="offcanvas-space" tabindex="-1" aria-labelledby="space-brand")
            .offcanvas-header
                h1#space-brand Space
                button.btn-close.text-reset(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
            .offcanvas-body
                ul.navbar-nav
                    li.nav-item
                        a.active(href='/',class="nav-link")
                            i.fa.fa-home.fa-lg#icon
                            ='Home'
                        hr
                    li.nav-item
                        a(href="#" class="nav-link")
                            i.fab.fa-blogger.fa-lg#icon(style="margin-left : 3px; margin-right : 15px")
                            ='Blog'
                        hr
                    li.nav-item#product-tab.product-tab
                        .nav-link
                            a(href="/product/all")
                                i.fas.fa-tshirt.fa-lg#icon
                                ='Product'
                                i.fa.fa-fw.fa-caret-down#parent-unexpanded
                            a#product-expand(href="#" data-bs-toggle="collapse" data-bs-target="#brandSpace") 
                                i.fa.fa-fw.fa-caret-down#parent-expanded(style="vertical-align : center")
                        .collapse#brandSpace
                        hr
                    .sub-nav#subnav-space(style="")
                        .container-fluid(style="height : inherit !important;")
                            .row(style="height : inherit !important;")
                                .col-lg-2(style="height : inherit !important")
                                    h3(style="position : absolute; top : 20%;")
                                        img(src="../../assets/logo/space_logo.png" width="200" height="200")
                                .col-lg-2(style="height : inherit !important; padding-top : 1rem; padding-bottom : 1rem; ")#subnav-brand
                                    h3(style="font-weight : bold; letter-spacing : 1.5px") Brand
                                    ul(style="list-style-type:none; padding-left : 0")
                                .col-lg-2(style="height : inherit !important; padding-top : 1rem; padding-bottom : 1rem; ")#subnav-category
                                    h3(style="font-weight : bold; letter-spacing : 1.5px") Category
                                    ul(style="list-style-type:none; padding-left : 0")
                                .col-lg-6(style="height : inherit !important; padding-top : 1rem;")
                                    .poster(style="width : 100% ; height : 80%;")
                                        .carousel.slide(data-bs-ride='carousel' data-interval="3000" style="width : 100% ; height")
                                            .carousel-inner
                                                .carousel-item.active(style="height : 100%; transition : transform .6s")
                                                    img.d-block.w-100(src="../../assets/poster/4480029.jpg", alt='Poster 1' style="width: 100%; height : 100%; object-fit :cover")
                                                .carousel-item(style="height : 100%; transition : transform .6s")
                                                    img.d-block.w-100(src='../../assets/poster/4996365.jpg', alt='Second slide' style="width: 100%; height: 100%; object-fit: cover;")
                                                .carousel-item(style="height : 100%; transition : transform .6s")
                                                    img.d-block.w-100(src='../../assets/poster/5501964.jpg', alt='Third slide' style="width: 100%; height: 100%; object-fit: cover;")
                ul.navbar-nav.ms-auto
                    -if(currentUser) {
                        li.nav-item.account-area
                            .d-flex 
                                a.nav-link(
                                    id="icon-cart"
                                    href=(currentUser) ? "/account/my/cart" : "/login")
                                    i.fas.fa-shopping-cart.fa-lg
                                    span.translate-middle.badge.rounded-pill.bg-primary#totalNum(style="position : absolute; top : 26px; right : 158px ; font-size : 12px")= quantity
                                .dropdown.nav-link#myAccount
                                    button.btn.btn-light.dropdown-toggle(style="padding : unset" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false")= (currentUser.lastname && currentUser.firstname) ? currentUser.lastname + ' ' + currentUser.firstname : currentUser.email
                                    ul.dropdown-menu(style="right : 0.35rem; top : 2.5rem ; left : unset" aria-labelledby="dropdownMenuButton")
                                        li
                                            a.dropdown-item(href="/account/my/information" ) Account Information
                                        li
                                            a.dropdown-item(href="/account/my/user") Change Password
                                        li
                                            a.dropdown-item(href=`/account/my/order/${currentUser.id}?status=6`) Your Order
                                        .dropdown-divider
                                        li
                                            a.dropdown-item(href="/logout") Logout
                                                i.fas.fa-sign-out-alt(style="margin-left : 4rem;")
                                .cart#shopping-cart
                                    .cart-header
                                        .d-flex(style="justify-content : space-between; vertical-align : middle")
                                            h4(style="text-transform : uppercase; letter-spacing : 2px") Shopping Cart
                                            span(style="")
                                                i.fas.fa-times
                                    .cart-body.bodyCartMini
                                        table.table.align-middle#cartTbl-mini
                                        hr(style="color : #484848; border : 0")
                                        p.d-inline(style="letter-spacing : 2px; font-weight : 600; margin-left : 5px") SUBTOTAL :
                                        p.d-inline#totalCost(style="float : right; margin-right : 5px")
                                    .cart-footer
                                        .d-flex(style="justify-content : space-between; vertical-align : middle")
                                            a.btn.btn-dark(
                                                href="/account/my/cart"
                                                onmouseover="this.style.backgroundColor='white'; this.style.color='black'"
                                                onmouseout="this.style.backgroundColor='black'; this.style.color='white'")
                                                | View Cart
                                            a.btn.btn-dark(
                                                href="/account/my/checkout"
                                                onmouseover="this.style.backgroundColor='white'; this.style.color='black'"
                                                onmouseout="this.style.backgroundColor='black'; this.style.color='white'")
                                                | Checkout
                    -} else {
                        li.nav-item.signin-area
                            .d-flex
                                p='Do you have an account yet ?'
                                a.btn.btn-dark.btn-signin(href="/login" id='btn-signin') Sign In
                                a.btn.btn-dark.btn-signup(href="/user/register" id='btn-signup') Sign Up
                    -}
-if(brand) {
    .offcanvas.offcanvas-top#brand-expanded(aria-labelledby="offcanvasBrand")   
        .offcanvas-header
            h1.offcanvas-title#offcanvasBrand Brand
            button.btn-close.text-reset(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
        .offcanvas-body
            ul.cd-filter
                li.filter
                    a(href="/product/all") All
                each brandItem in brand
                    li.filter
                        a(href=`/product/filter?id_brand=${brandItem.id}`)= brandItem.name            
-}